.container {
  width: 400px;
  height: 230px;
  box-shadow: 10px 5px 5px #e9dbdb;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

.hours-box {
  width: 200px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-color: #e0a9a9;
  color: #888282;
  //font-weight: bold;
}

.numbers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  animation: slideInFromLeft ease-out .4s 1;
}

.previous, .next {
  opacity: 30%;
  transform: scale(1.3, 0.8);
}

.current {

  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
}

.pre-previous {
  opacity: 30%;
  //transform: skew(3deg);
  line-height: 0.9px;
  transform: scale(1.6, 0.5);
}

.clock-seperator {
  position: absolute;
  width: 100%;
  font-size: 24px;
}

.static-center-color {
  background-color: #efeff1;
  width: 97%;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding-top: 13px;
}
